/build
# Dependency directories
node_modules/
google-services.json
.json
# Local environment variables
.env

# Secret files and local configuration
*.jks
local.properties
.env.*
*.json

# Ignore the node_modules folder for functions
functions/node_modules